<html>
    <head>
        <meta charset="UTF-8">
        <style>
        * {
        box-sizing:border-box;
        margin:0;
        padding:0;
        }
        </style>
        <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <script type="text/javascript" href="../../node_modules/bootstrap/dist/js/bootstrap.js"  ></script>
    </head>
    <body>
        <style type="text/css">
        .login-container {
            width: 30%;
        }
        </style>
        <div class="container login-container" v-show="!isloggedin">
            <h1>
            This is login page
            </h1>
            <form action="#" class="form-horizontal" >
                <div class="alert alert-danger" role="alert" v-show="loginError">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Error in login
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="host" v-model="host" placeholder="Host" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input  type="text" class="form-control" name="port" v-model="port" placeholder="port">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="username" v-model="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="password" v-model="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="database" v-model="database" placeholder="Database">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit"  v-on="click: login" class="btn btn-default btn-block" >Connect</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container" v-show="isloggedin">
            <h1>You have successfully loggedin</h1>
            <h2>list of databases bases</h2>
            <ul>
                <li v-repeat="databases"
                    v-on="click: getCollection( name ) "
                    >
                    {{name}}
                    <span v-on="click: dropDatabase( name )"> x </span>
                </li>
            </ul>
            <div style="width: 50%">
                <form action="#" v-on="submit: addDb" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  name="newdb" v-model="newdb" placeholder="add database"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  name="newCollectionName" v-model="newCollectionName" placeholder="Collection name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default btn-block" >Add DB</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collection-wrapper" v-show="currentDb">
                <h2>collections</h2>
                <ul v-show="collections.length">
                    <li
                        v-repeat="collections"
                        v-on="click: getRecords( collectionName ) "
                        >
                        {{collectionName}}
                        <span v-on="click: dropCollection( collectionName )"> x </span>
                    </li>
                    
                </ul>
                <p v-show="!collections.length">
                    NO collection found
                </p>
                <form action="#" v-on="submit: addCollection" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  name="collectioName1" v-model="collectioName1" placeholder="Collection name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default btn-block" >Add add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="records-wrapper" v-show="currentCollection">
                <h3>Records</h3>
                <ul v-show="records.length">
                    <li v-repeat="records" >
                        <pre><code>{{ stringifyRecord( record ) }}</code></pre>
                    </li>
                </ul>
                <p v-show="!records.length">
                    NO collection found
                </p>
                <form action="#" v-on="submit: addRecord" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control"  name="record" v-model="record" placeholder="write proper json"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default btn-block" >Add add</button>
                        </div>
                    </div>
                </form>
                <div id="server-status">
                    <pre><code v-text="serverStatus"></code></pre>
                </div>
            </div>
        </div>


    </body>
    <script src="../view-models/database.js"></script>
    <script src="../view-models/login.js"></script>
</html>